body {
    color: #1a1a1a;
    font-family: Clear Sans,Arial,sans-serif;
}
body {
    line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
user agent stylesheet
header {
    display: block;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
::selection {
    color: #fff!important;
    background: #6fa53b!important;
}
/*@media (min-width: 1024px)*/
    .header-main__logo-link {
        width: 244px;
        height: 58px;
        top: 15px;
    }
    .header-main__logo-link {
        position: relative;
        display: block;
        width: 206px;
        height: 48px;
        top: 20px;
    }
    .institute-logo {
        display: inline-block;
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }
    a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    a {
        background-color: transparent;
    }
    user agent stylesheet
    a:-webkit-any-link {
        color: -webkit-link;
        cursor: pointer;
        text-decoration: underline;
    }
    .header-main__logo {
        text-shadow: none;
        color: transparent;
    }
    h1 {
        font-size: 2em;
        margin: 0.67em 0;
    }
    user agent stylesheet
    h1 {
        font-size: 2em;
        font-weight: bold;
    }
.header img {
    float: left;
    width: 218px;
    height: 100px;
}
header {
    height: 100px;
    background: #a7ffa7;
    display: flex;
    justify-content: center;
}
header table td {
    margin-right: 30px;
}
body > div {
    float: left;
    margin-left: 30px;
}
#word {
    width: 275px;
}
#word_teachers {
    width: 275px;
}
#word_students {
    width: 275px;
}
#word_options {
    display: none;
}
#word_options_teachers {
    display: none;
}
#word_options_students {
    display: none;
}
#word_options > div {
    width: 275px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
}
#word_options_teachers > div {
    width: 275px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
}
#word_options_students > div {
    width: 275px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
}
#word_options > div:hover {
    background-color: #a0ffa3;
    cursor: pointer;
}
#word_options_teachers > div:hover {
    background-color: #a0ffa3;
    cursor: pointer;
}
#word_options_students > div:hover {
    background-color: #a0ffa3;
    cursor: pointer;
}
.letter {
    width: 550px;
    height: 100px;
}
#work_filters {
    float: right;
    width: 300px;
}