<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Студенты</title>
    <link th:href="@{/common.css}" rel="stylesheet" type="text/css">
</head>
<body>
<header th:insert="fragments/header :: header"></header>

    <div>
        <h4>Поиск студента </h4>

        <form method="post" id="form" onsubmit="return false">
            <label for="word"></label>
            <input type="text" id="word" list="word_options">
            <div id="word_options">
                <div th:each="student : ${studentList}" th:data-value="${student.getStudent_id()}">
                    <p th:data-value="${student.getEmail()}" th:text="${student.getLast_name()} + ' ' + ${student.getName()} + ' ' + ${student.getPatronymic()}"></p>
                </div>
            </div>
        </form>
    </div>

    <div th:if="${specificStudent}" th:with="s=${specificStudent}">
        <h1 id="lnp" th:text="${s.getLast_name()} + ' ' + ${s.getName()} + ' ' + ${s.getPatronymic()}"></h1>
        <table id="teacher-info">
            <tr>
                <td th:text="${s.getGroup().getName()} + ', ' + ${s.getGroup().getSpeciality().getName()}"></td>
            </tr>
            <tr>
                <td th:text="${s.getGroup().getSpeciality().getDepartment().getName()}"></td>
            </tr>
            <tr></tr>
            <tr>
                <td th:text="'E-mail: ' + ${s.getEmail()}"></td>
            </tr>
        </table><br>
    </div>

    <script defer>
        let word = document.getElementById('word');
        let word_options = document.getElementById('word_options');

        let studentList = word_options.querySelectorAll('div');
        studentList.forEach(student => {
            student.addEventListener('click', () => {
                console.log(student.dataset.value);
                window.location.href = `/students/${student.dataset.value}`;
            });
        });

        window.addEventListener('load', () => {

            word.addEventListener('input', (e) => {
                let el = e.target;

                if(el.value) {
                    word_options.style.display = "block";
                } else {
                    word_options.style.display = "none";
                }

                let t;
                let all = word_options.getElementsByTagName('div');
                let ifNoCatches = false;
                for (let i = 0; i < all.length; i++) {
                    t = all[i];
                    if(t.textContent.toUpperCase().includes(el.value.toUpperCase())) {
                        t.style.display = "block";
                        ifNoCatches = true;
                    } else {
                        t.style.display = "none";
                    }
                }

                console.log(ifNoCatches);
                if(ifNoCatches === false) {
                    word_options.value = "";
                }
            });
        });
    </script>
</body>
</html>