<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Работы</title>
    <link th:href="@{/common.css}" rel="stylesheet" type="text/css">
    <style>

    </style>
</head>
<body>
<header th:insert="fragments/header :: header"></header>
<div id="works">
    <div th:each="work, iter : ${workList}">
        <p class="work-title" th:text="${iter.index + 1} + '. ' + ${work.title}"></p>
        <h5 th:text="${work.type.name}"></h5><br>
        <h4>Статус </h4>
        <h5 th:if="${work.completion_date}" th:text="'Окончена (' + ${work.completion_date.toLocaleString().substring(0, work.completion_date.toLocaleString().length()-10)} + ')'"></h5>
        <h5 th:if="${work.completion_date} == null">В разработке</h5><br>
        <div th:each="st : ${studentForWorkMap.get(work)}">
            <h5 th:text="${st.last_name} + ' ' + ${st.name.substring(0,1)} + '.' + ${st.patronymic.substring(0,1)} + '.'"></h5>
        </div><br>
        <h4 th:with="t = ${scientificWorkList.get(__${iter.index}__).teacher}" th:text="'Научный руководитель: ' + ${t.last_name} + ' ' + ${t.name.substring(0,1)} + '.' + ${t.patronymic.substring(0,1)} + '.'"></h4>
        <br>
        <br>
    </div>
</div>

<div id="create_work">
    <button id="create_work_button"></button>

    <form method="post" th:action="@{/works/save}">
        <h4>Тема</h4>
        <input type="text" th:field="*{tempWork.title}">
        <h4>Тип</h4>
        <input type="text" th:field="*{tempWork.type.name}">
        <h4>Студенты</h4>
        <input type="text" list="students">
        <datalist id="students">
            <option th:each="s : ${studentList}" th:value="${s.last_name} + ' ' + ${s.name} + ' ' + ${s.patronymic}"></option>
        </datalist>

        <input type="submit" value="Создать">
    </form>
</div>

<details id="work_filters">
    <summary>Фильтровать</summary><br>

    <div id="teacher_filter">
        <h4>Научный руководитель </h4>

        <form method="post" id="form_teachers" onsubmit="return false">
            <label for="word_teachers"></label>
            <input type="text" id="word_teachers" list="word_options_teachers">
            <div id="word_options_teachers">
                <div th:each="teacher : ${teacherList}" th:data-value="${teacher.teacher_id}" th:data-text="${teacher.last_name} + ' ' + ${teacher.name} + ' ' + ${teacher.patronymic}">
                    <p th:data-value="${teacher.email}" th:text="${teacher.last_name} + ' ' + ${teacher.name} + ' ' + ${teacher.patronymic}"></p>
                </div>
            </div>
        </form>
    </div>

    <div id="student_filter">
        <h4>Студент </h4>

        <form method="post" id="form_students" onsubmit="return false">
            <label for="word_students"></label>
            <input type="text" id="word_students" list="word_options_students">
            <div id="word_options_students">
                <div th:each="student : ${studentList}" th:data-value="${student.getStudent_id()}">
                    <p th:data-value="${student.email}" th:text="${student.last_name} + ' ' + ${student.name} + ' ' + ${student.patronymic}"></p>
                </div>
            </div>
        </form>
    </div>

    <div id="title_filter">
        <h4>Тема </h4>

        <form method="post" id="form_titles" th:object="${tempWork}" th:action="@{/works/filter/title}">
            <label for="word_titles"></label>
            <input type="text" id="word_titles" th:field="*{title}">
        </form>
    </div>
</details>

<script defer>
    // students
    let word_students = document.getElementById('word_students');
    let word_options_students = document.getElementById('word_options_students');

    let studentList = word_options_students.querySelectorAll('div');
    studentList.forEach(student => {
        student.addEventListener('click', () => {
            console.log(student.dataset.value);
            window.location.href = `/works/filter/student/${student.dataset.value}`;
        });
    });

    window.addEventListener('load', () => {

        word_students.addEventListener('input', (e) => {
            let el = e.target;

            if(el.value) {
                word_options_students.style.display = "block";
            } else {
                word_options_students.style.display = "none";
            }

            let t;
            let all = word_options_students.getElementsByTagName('div');
            let ifNoCatches = false;
            for (let i = 0; i < all.length; i++) {
                t = all[i];
                if(t.textContent.toUpperCase().includes(el.value.toUpperCase())) {
                    t.style.display = "block";
                    ifNoCatches = true;
                } else {
                    t.style.display = "none";
                }
            }

            console.log(ifNoCatches);
            if(ifNoCatches === false) {
                word_options_students.value = "";
            }
        });
    });

    // teachers
    let word_teachers = document.getElementById('word_teachers');
    let word_options_teachers = document.getElementById('word_options_teachers');

    let teacherList = word_options_teachers.querySelectorAll('div');
    teacherList.forEach(teacher => {
        teacher.addEventListener('click', () => {
            console.log(teacher.dataset.value);
            // word_teachers.setAttribute('value', teacher.dataset.text);
            window.location.href = `/works/filter/teacher/${teacher.dataset.value}`;
        });
    });

    window.addEventListener('load', () => {

        word_teachers.addEventListener('input', (e) => {
            let el = e.target;

            if(el.value) {
                word_options_teachers.style.display = "block";
            } else {
                word_options_teachers.style.display = "none";
            }

            let t;
            let all = word_options_teachers.getElementsByTagName('div');
            let ifNoCatches = false;
            for (let i = 0; i < all.length; i++) {
                t = all[i];
                if(t.textContent.toUpperCase().includes(el.value.toUpperCase())) {
                    t.style.display = "block";
                    ifNoCatches = true;
                } else {
                    t.style.display = "none";
                }
            }

            console.log(ifNoCatches);
            if(ifNoCatches === false) {
                word_options_teachers.value = "";
            }
        });
    });
</script>
</body>
</html>